{% extends "base.html.twig" %}
{% block body %}




<h1>{{article.title}}</h1>
<p>{{article.content}}</p>
<p>Autheur : {{article.author}}</p>
    <p>Catégorie : {{article.category.title}}  </p>

{% endblock %}