{% extends "base.html.twig" %}
{% block body %}


{% for category in category %}
<h1>{{category.title}}</h1>

     <a href="{{ path('app_default_showonecategory', {'id': category.id}) }}">{{ category.title }}</a>
{% endfor %}

{% endblock %}